<div class="ui right aligned inverted five cards">
    <div class=" card">
        <div class="ui inverted segment">
            <i class="right floated huge violet map marker alternate icon"></i>
            <h2>
                {{station.name}}
            </h2>
        </div>
    </div>
    <div class="card">
        <div class="ui inverted segment">
            <i class="right floated huge red ${_anemometer.getWeatherCodeIcon(station.getLastReading())}"></i>
            <h2>
                Weather
            </h2>
             <p>
                {{weatherReport.weather}}
            </p>
        </div>
    </div>
    <div class="card">
        <div class="ui inverted segment">
            <i class="right floated huge blue temperature low icon"></i>
            <h2>
                Temp
            </h2>
            <p>
                <i class="right floated big blue ${station.getTrendAnalysis('Temp')}"></i>
                {{weatherReport.temperature}} C <br>
                {{weatherReport.farenheit}} F <br>
            </p>
        </div>
    </div>
    <div class="card">
        <div class="ui inverted segment">
            <i class="right floated huge green wind icon"></i>
            <h2>
                Wind
            </h2>
            <p>
                <i class="right floated big green ${station.getTrendAnalysis('windSpeed')}"></i>
                {{weatherReport.beaufort}} bft <br>
                {{weatherReport.windDirection}} <br>
                Feels like <br>
                {{weatherReport.windChill}}
            </p>
        </div>
    </div>
    <div class="card">
        <div class="ui inverted segment">
            <i class="right floated huge orange stroopwafel icon"></i>
            <h2>
                Pressure
            </h2>
            <p>
                <i class="right floated big orange ${station.getTrendAnalysis('windPressure')}"></i>
                {{weatherReport.pressure}} hpa <br>
            </p>
        </div>
    </div>
</div>
