{{> menu id="dashboard"}}

<section class="ui segment">  
    {{#each stations}}
        <section class="ui vertical segment">
            {{#if readings}}
                {{> latest-station-reading weatherReport = (lookup ../weatherReports @index)}}
            {{else}}
                {{> empty-latest-reading-panel}}
            {{/if}}
        </section>
       
        {{! UI Buttons }}
        <section class="ui vertical segment">
        <a href="/station/{{id}}">
            <i class="bordered grey large link folder icon"></i>
        </a>
         <a href="/dashboard/deletestation/{{id}}">
            <i class="bordered grey large link trash icon"></i>
        </a>
    {{/each}}
</section>

<div id="map">

</div>

<section>
    {{> add-station}}
</section>

<script>
  const stations = []
    {{#each stations}}
      stations.push({
        name: "{{name}}",
        latitude: {{latitude}},
        longitude: {{longitude}} 
      })
    {{/each}}

  map.createMap(stations)
</script>
